vti_encoding:SR|utf8-nl
/c\:/data/business/site4djzstaging/djzpapersonline.htm:index.htm
/c\:/data/business/site4djzstaging/djzbtst/fphover.class:index.htm
http\://www.warefore.com/demosites/:_borders/bottom.htm
